<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <!-- BDIRKS include style sheet from docs here -->
    <!-- This should be moved to css -->
    <style>
      .container {
        display: flex; /* Use flexbox layout */
      }
      .sidebar {
        flex: 0 0 20%; /* Set the initial and minimum width of the sidebar to 20% */
        background-color: lightgray;
        margin-right: 0.5em;
        margin-top: 1em;
      }
      .content {
        flex: 1; /* Fill the remaining space with the main content */
        background-color: white;
      }
    </style>
  </head>
  <body>
    <section class="container">
      <section class="sidebar">
        {% include navigation.html %}
      </section>
      <section class="content">
        {{ content }}
      </section>
    </section>
  </body>
</html>
